@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&family=Karla:wght@300;400;500;600;700;800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


/* Font Config */
/* plus-jakarta-sans-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/plus-jakarta-sans-v3-latin-200.eot'); /* IE9 Compat Modes */
  src: url('/fonts/plus-jakarta-sans-v3-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/plus-jakarta-sans-v3-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/plus-jakarta-sans-v3-latin-200.woff') format('woff'), /* Modern Browsers */
       url('/fonts/plus-jakarta-sans-v3-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/plus-jakarta-sans-v3-latin-200.svg#PlusJakartaSans') format('svg'); /* Legacy iOS */
}

/* plus-jakarta-sans-200italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 200;
  src: url('/fonts/plus-jakarta-sans-v3-latin-200italic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/plus-jakarta-sans-v3-latin-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/plus-jakarta-sans-v3-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/plus-jakarta-sans-v3-latin-200italic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/plus-jakarta-sans-v3-latin-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/plus-jakarta-sans-v3-latin-200italic.svg#PlusJakartaSans') format('svg'); /* Legacy iOS */
}

/* plus-jakarta-sans-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/plus-jakarta-sans-v3-latin-300.eot'); /* IE9 Compat Modes */
  src: url('/fonts/plus-jakarta-sans-v3-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/plus-jakarta-sans-v3-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/plus-jakarta-sans-v3-latin-300.woff') format('woff'), /* Modern Browsers */
       url('/fonts/plus-jakarta-sans-v3-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/plus-jakarta-sans-v3-latin-300.svg#PlusJakartaSans') format('svg'); /* Legacy iOS */
}

/* plus-jakarta-sans-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/plus-jakarta-sans-v3-latin-300italic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/plus-jakarta-sans-v3-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/plus-jakarta-sans-v3-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/plus-jakarta-sans-v3-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/plus-jakarta-sans-v3-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/plus-jakarta-sans-v3-latin-300italic.svg#PlusJakartaSans') format('svg'); /* Legacy iOS */
}

/* plus-jakarta-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/plus-jakarta-sans-v3-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/plus-jakarta-sans-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/plus-jakarta-sans-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/plus-jakarta-sans-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/plus-jakarta-sans-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/plus-jakarta-sans-v3-latin-regular.svg#PlusJakartaSans') format('svg'); /* Legacy iOS */
}

/* plus-jakarta-sans-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/plus-jakarta-sans-v3-latin-italic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/plus-jakarta-sans-v3-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/plus-jakarta-sans-v3-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/plus-jakarta-sans-v3-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/plus-jakarta-sans-v3-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/plus-jakarta-sans-v3-latin-italic.svg#PlusJakartaSans') format('svg'); /* Legacy iOS */
}

/* plus-jakarta-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/plus-jakarta-sans-v3-latin-500.eot'); /* IE9 Compat Modes */
  src: url('/fonts/plus-jakarta-sans-v3-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/plus-jakarta-sans-v3-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/plus-jakarta-sans-v3-latin-500.woff') format('woff'), /* Modern Browsers */
       url('/fonts/plus-jakarta-sans-v3-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/plus-jakarta-sans-v3-latin-500.svg#PlusJakartaSans') format('svg'); /* Legacy iOS */
}

/* plus-jakarta-sans-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/plus-jakarta-sans-v3-latin-500italic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/plus-jakarta-sans-v3-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/plus-jakarta-sans-v3-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/plus-jakarta-sans-v3-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/plus-jakarta-sans-v3-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/plus-jakarta-sans-v3-latin-500italic.svg#PlusJakartaSans') format('svg'); /* Legacy iOS */
}

/* plus-jakarta-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/plus-jakarta-sans-v3-latin-600.eot'); /* IE9 Compat Modes */
  src: url('/fonts/plus-jakarta-sans-v3-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/plus-jakarta-sans-v3-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/plus-jakarta-sans-v3-latin-600.woff') format('woff'), /* Modern Browsers */
       url('/fonts/plus-jakarta-sans-v3-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/plus-jakarta-sans-v3-latin-600.svg#PlusJakartaSans') format('svg'); /* Legacy iOS */
}

/* plus-jakarta-sans-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/plus-jakarta-sans-v3-latin-600italic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/plus-jakarta-sans-v3-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/plus-jakarta-sans-v3-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/plus-jakarta-sans-v3-latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/plus-jakarta-sans-v3-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/plus-jakarta-sans-v3-latin-600italic.svg#PlusJakartaSans') format('svg'); /* Legacy iOS */
}

/* plus-jakarta-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/plus-jakarta-sans-v3-latin-700.eot'); /* IE9 Compat Modes */
  src: url('/fonts/plus-jakarta-sans-v3-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/plus-jakarta-sans-v3-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/plus-jakarta-sans-v3-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/plus-jakarta-sans-v3-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/plus-jakarta-sans-v3-latin-700.svg#PlusJakartaSans') format('svg'); /* Legacy iOS */
}

/* plus-jakarta-sans-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/plus-jakarta-sans-v3-latin-700italic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/plus-jakarta-sans-v3-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/plus-jakarta-sans-v3-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/plus-jakarta-sans-v3-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/plus-jakarta-sans-v3-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/plus-jakarta-sans-v3-latin-700italic.svg#PlusJakartaSans') format('svg'); /* Legacy iOS */
}

/* plus-jakarta-sans-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/plus-jakarta-sans-v3-latin-800.eot'); /* IE9 Compat Modes */
  src: url('/fonts/plus-jakarta-sans-v3-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/plus-jakarta-sans-v3-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/plus-jakarta-sans-v3-latin-800.woff') format('woff'), /* Modern Browsers */
       url('/fonts/plus-jakarta-sans-v3-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/plus-jakarta-sans-v3-latin-800.svg#PlusJakartaSans') format('svg'); /* Legacy iOS */
}

/* plus-jakarta-sans-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 800;
  src: url('/fonts/plus-jakarta-sans-v3-latin-800italic.eot'); /* IE9 Compat Modes */
  src: url('/fonts/plus-jakarta-sans-v3-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/plus-jakarta-sans-v3-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/plus-jakarta-sans-v3-latin-800italic.woff') format('woff'), /* Modern Browsers */
       url('/fonts/plus-jakarta-sans-v3-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/plus-jakarta-sans-v3-latin-800italic.svg#PlusJakartaSans') format('svg'); /* Legacy iOS */
}
